{% extends "layouts/main.html" %}

{% block title %}SENAC — Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="file:///{{ assets }}/css/home.css">
<link rel="stylesheet" href="{{ assets }}/css/home.css">
{% endblock %}

{% block menu %}
{% include "../partial/header.html" %}
{% endblock %}

{% block content %}
<div class="row g-4 p-3 row-cols-1 row-cols-md-3 row-cols-lg-5">

    <!-- CLIENTES -->
    <div class="col">
        <div class="small-box card-clientes shadow-sm"
            onclick="api.window.open('pages/listacustomer', { title: 'Clientes' })">

            <div class="inner">
                <h3 id="count-clientes">0</h3>
                <p>Clientes</p>
            </div>

            <div class="icon">
                <i class="fa-solid fa-user-group"></i>
            </div>

            <a href="#" class="small-box-footer">
                Mais informações <i class="fa-solid fa-arrow-right ms-1"></i>
            </a>
        </div>
    </div>

    <!-- EMPRESAS -->
    <div class="col">
        <div class="small-box card-empresas shadow-sm"
            onclick="api.window.open('pages/listacompany', { title: 'Empresas' })">

            <div class="inner">
                <h3 id="count-empresas">0</h3>
                <p>Empresas</p>
            </div>

            <div class="icon">
                <i class="fa-solid fa-industry"></i>
            </div>

            <a href="#" class="small-box-footer">
                Mais informações <i class="fa-solid fa-arrow-right ms-1"></i>
            </a>
        </div>
    </div>

    <!-- PRODUCTS -->
    <div class="col">
        <div class="small-box card-produtos shadow-sm"
            onclick="api.window.open('pages/listaproduct', { title: 'Produtos' })">

            <div class="inner">
                <h3 id="count-produtos">0</h3>
                <p>Produtos</p>
            </div>

            <div class="icon">
                <i class="fa-solid fa-box"></i>
            </div>

            <a href="#" class="small-box-footer">
                Mais informações <i class="fa-solid fa-arrow-right ms-1"></i>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="small-box card-compra shadow-sm"
            onclick="api.window.open('pages/listapurchase', { title: 'Compras' })">

            <div class="inner">
                <h3 id="count-compra">0</h3>
                <p>Compra</p>
            </div>

            <div class="icon">
                <i class="fa-solid fa-box"></i>
            </div>

            <a href="#" class="small-box-footer">
                Mais informações <i class="fa-solid fa-arrow-right ms-1"></i>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="small-box card-fornecedores shadow-sm"
            onclick="api.window.open('pages/listasupplier', { title: 'Fornecedores' })">
            <div class="inner">
                <h3 id="count-fornecedores">0</h3>
                <p>Fornecedores</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-boxes-packing"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações <i class="fa-solid fa-arrow-right ms-1"></i></a>
        </div>
    </div>
    <div class="col">
        <div class="small-box card-vendas shadow-sm" onclick="api.window.open('pages/listasale', { title: 'Vendas' })">
            <div class="inner">
                <h3 id="count-vendas">0</h3>
                <p>Vendas</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-boxes-packing"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações <i class="fa-solid fa-arrow-right ms-1"></i></a>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}