{% extends "layouts/main.html" %}

{% block title %}Novo Fornecedor{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Cadastro de Fornecedor</h2>
    </div>
</div>

<form id="form">
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="action" name="action">

    <!-- Linha 1: Nome Fantasia e Razão Social -->
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nome_fantasia" name="nome_fantasia" placeholder="Nome Fantasia" autofocus>
                <label for="nome_fantasia">Nome Fantasia</label>
            </div>
        </div>

        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="razao_social" name="razao_social" placeholder="Razão Social">
                <label for="razao_social">Razão Social</label>
            </div>
        </div>
    </div>

    <!-- Linha 2: CNPJ -->
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="00.000.000/0000-00">
                <label for="cnpj">CNPJ</label>
            </div>
        </div>
    </div>

    <!-- Checkbox Ativo -->
    <div class="row">
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="ativo" id="ativo" value="true">
                <label class="form-check-label" for="ativo">
                    Ativo?
                </label>
            </div>
        </div>
    </div>

    <!-- Botão Salvar -->
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-success" id="insert">
                <i class="fa-solid fa-floppy-disk"></i>
                Salvar
            </button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="file:///{{ assets }}/js/supplier.js"></script>
{% endblock %}